<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/index.css?v={{= _.version}}">
  <link rel="stylesheet" type="text/css" href="/css/app.css?v={{= _.version}}">
  <meta name="viewport" content="width=device-width, height=device-height,user-scalable=no, initial-scale=1.0" />
  <script src="/script/recorder.js"></script>
</head>
<body>
  <audio id="audio" type="audio/mp3" style="display:none;"></audio>
  <audio id="background-audio" type="audio/mp3" style="display:none;"></audio>
  <div id="app"></div>
  <div class="head">
  </div>
  <div class="scrollable">
  </div>
  <div class="tabbar-root {{if _.topBar}}tabbar-root-top{{/}}">
  </div>
  <script>
    var __wxConfig__ = {{= _.config}}
    var __root__ = '{{= _.root}}'
    var __ip__ = '{{= _.ip}}'
  </script>
  <script src="/script/build.js?v={{= _.version}}"></script>
</body>
</html>
