<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">
  <script>
  var __wxAppData = {}
  var __wxRoute
  var __wxRouteBegin
  var __eval = eval
  global = {}
  var __wxConfig = {{= _.config}}
  !(function() {
    var ua = navigator.userAgent
    Object.defineProperty(navigator, 'userAgent', {
      get : function () {
        return ua +' appservice webview/10000'
      }
    })
  })()
  </script>
  <script src="/script/stacksourcemap.js" type="text/javascript"></script>
  <script type="text/javascript">StackSourceMap();</script>
  <script src="/script/bridge.js?v={{= _.version}}" type="text/javascript"></script>
  <script src="/script/service.js?v={{= _.version}}" type="text/javascript"></script>
  <script src="/service.js"></script>
</head>
<body>
  <script>
    window._____sendMsgToNW({
      sdkName: 'APP_SERVICE_COMPLETE'
    })
  </script>
</body>

</html>
