<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <link href="https://res.wx.qq.com/mpres/htmledition/images/favicon218877.ico" rel="Shortcut Icon">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <script>
  Object.defineProperty(console, 'warn', {
    get : function () {
      return function () {}
    }
  })
  Object.defineProperty(console, 'debug', {
    get : function () {
      return function () {}
    }
  })
  ;(function() {
    var id = window.name.replace(/^view-/, '')
    var ua = window.navigator.userAgent
    Object.defineProperty(navigator, 'userAgent', {
      get : function () {
        return ua + ' weapp wechatdevtools webview/' + id
      }
    })
  })()
  var __path__ = '{{= _.path}}'
  ;(function() {
    var win = window.parent.__wxConfig__.window
    var obj = {
      backgroundTextStyle: win.backgroundTextStyle || 'dark',
      backgroundColor: win.backgroundColor || '#fff',
      enablePullDownRefresh: win.enablePullDownRefresh || false
    }
    var winConfig = win.pages[__path__] || {}
    Object.keys(obj).forEach(function (key) {
      if (winConfig.hasOwnProperty(key)) {
        obj[key] = winConfig[key]
      }
    })
    window.__wxConfig = {window: obj}
  })()
  </script>
  <script src="/script/ViewBridge.js?v={{= _.version}}" async type="text/javascript"></script>
  <script src="/script/view.js?v={{= _.version}}" type="text/javascript"></script>
  <script>
  window.__pageFrameStartTime__ = Date.now()
  {{= _.inject_js}}
  window.__pageFrameEndTime__ = Date.now()
  </script>
  <script>
    document.dispatchEvent(new CustomEvent("generateFuncReady", {
      detail: {
        generateFunc: $gwx('./{{= _.path}}.wxml')
      }
    }))
  </script>
  <link rel="stylesheet" type="text/css" href="/app/app.wxss?w={{= _.width}}&r={{= _.ratio}}">
  <link rel="stylesheet" type="text/css" href="/app/{{= _.path}}.wxss?w={{= _.width}}&r={{= _.ratio}}">
  <script type="text/javascript">
  window.reloadWxss = function (width, ratio, path) {
    var p = '/app/' + path
    var els = document.getElementsByTagName('link')
    ;[].slice.call(els).forEach(function(el) {
      var href = el.getAttribute('href').replace(/\?(.*)$/, '')
      if (p == href) {
        console.info('Reload: ' + path)
        el.setAttribute('href', href + '?w=' + width + '&r=' + ratio + '&ts=' + Math.random())
      }
    })
  }

  window.resizeWxss = function (width, ratio) {
    var els = document.getElementsByTagName('link')
    ;[].slice.call(els).forEach(function(el) {
      var href = el.getAttribute('href').replace(/\?(.*)$/, '')
      if (/^\/app/.test(href)) {
        el.setAttribute('href', href + '?w=' + width + '&r=' + ratio + '&ts=' + Math.random())
      }
    })
  }
  document.addEventListener('touchstart', function (e) {
  })
  document.addEventListener('touchend', function (e) {
  })
  document.addEventListener('touchmove', function (e) {
  })
  document.addEventListener('touchcancel', function (e) {
  })
  document.addEventListener('focus', function (e) {
  })
  document.addEventListener('blur', function (e) {
  })
  </script>
</head>
<body>
  <div></div>
</body>
</html>
